<div class="row">
  <div class="col">
    <h1>
      Showing {{ todoItems.length }} Item(s)
      <button (click)="onGetTodoItems()" type="button" class="pull-right btn btn-primary">
        Refresh
      </button>
    </h1>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let todoItem of todoItems; let idx = index"
          [ngClass]="{completed: todoItem.isCompleted === true}"
        >
          <td>{{todoItem.id}}</td>
          <td>{{todoItem.description}}</td>
          <td class="actions"> 
            <button type="button" class="btn btn-warning btn-sm" (click)="onToggleTodoItem(todoItem, idx)">
              {{ todoItem.isCompleted ? 'UnMark completed' : 'Mark as completed' }}
            </button>
            <button type="button" class="btn btn-danger btn-sm"  (click)="onRemoveodoItem(todoItem, idx)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
