<div class="row">
  <div class="col">
  <div class="container">
    <h1>Add Item</h1>
    <form  [formGroup]="todoItemForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 row">
        <label for="formAddTodoItem" class="form-label col-form-label col-sm-2">Description</label>
        <div class="col-md-6">
          <input 
            placeholder="Enter description..." 
            type="text"
            id="description"
            formControlName="description"
            class="form-control" 
          >
          <span 
            *ngIf="todoItemForm.get('description')!.invalid"
            class="text-danger"
          >
            <span *ngIf="todoItemForm.get('description')!.hasError('required') && todoItemForm.get('description')!.touched">
              This field is required!
            </span>
            <span *ngIf="todoItemForm.get('description')!.hasError('wordIsForbidden')">
              This word is invalid!
            </span>
          </span>
        </div>
      </div>
      <div class="mb-3 offset-md-2 row">
        <div class="hstack gap-2">
          <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="!todoItemForm.valid"  
          >
            Add Item
          </button>
          <button (click)='onClear()' type="button" class="btn btn-secondary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
